@font-face {
  font-family: "Jacques";
  src: url(assets/fonts/JacquesFrancois-Regular.ttf) format("truetype");
  font-weight: 400;
}
.hide {
  display: none;
}

.blur {
  filter: blur(10px);
}

body {
  background: #D9D9D9;
  position: relative;
  color: #EAEAEA;
  font-family: Jacques;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  position: sticky;
  top: 0;
  z-index: 9998;
  background: #D9D9D9;
}
.navbar_logo {
  margin-left: auto;
  width: 22vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar_burger {
  width: calc(50% - 11vw);
  height: 10vh;
  aspect-ratio: 1;
  position: relative;
}
.navbar_burger_svg {
  position: absolute;
  top: 0;
  left: calc(100% - 10vh);
  height: 10vh;
  aspect-ratio: 1;
  transition: left ease-out 400ms;
  cursor: pointer;
}
.navbar_menu {
  position: absolute;
  top: 0;
  left: 105%;
  width: 33.3333333333%;
  height: 100vh;
  z-index: 9999;
  background: #EAEAEA;
  transition: left ease-out 500ms, filter 400ms ease-in;
}
.navbar_menu_title {
  width: 100%;
  height: 12vh;
  color: #2C2C2C;
  display: flex;
  align-items: center;
  padding-inline: 5%;
}
.navbar_menu_divider {
  width: 100%;
  height: 12vh;
  background: #2C2C2C;
}
.navbar_menu_links {
  color: #2C2C2C;
}
.navbar_menu_links_list_link {
  width: 100%;
  height: 12vh;
}
.navbar_menu_links_list_link a {
  padding-inline: 5%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #2C2C2C;
}
.navbar_menu_links_list_link a:hover {
  color: #AF3800;
  text-decoration: underline;
  background: #D9D9D9;
}
.navbar_menu_infos a {
  height: 16vh;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-inline: 5%;
}
.navbar_menu_infos a svg {
  fill: #2C2C2C;
  height: 12vh;
}
.navbar_menu_infos a:hover > svg {
  fill: #AF3800;
}
.navbar_menu_infos a:hover {
  background: #D9D9D9;
}

.main {
  width: 100%;
  transition: filter linear 150ms;
  scroll-behavior: smooth;
}
.main_parallax {
  position: relative;
}
.main_parallax_hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2C2C2C;
  height: 88vh;
  position: sticky;
  top: 12vh;
  z-index: 1;
}
.main_parallax_hero_magazine {
  position: relative;
}
.main_parallax_hero_magazine_image {
  position: relative;
  rotate: 14deg;
  z-index: 3;
  border: 4px solid #AF3800;
  border-style: dashed;
  height: 50vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.main_parallax_hero_magazine_card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.main_parallax_hero_magazine_card--dark {
  rotate: 18deg;
  background: #AF3800;
  z-index: 2;
  filter: blur(1px);
}
.main_parallax_hero_magazine_card--light {
  rotate: 22deg;
  background: #FE621D;
  z-index: 1;
  filter: blur(2px);
}
.main_parallax_section {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  padding: 5rem;
  position: sticky;
  overflow: hidden;
  top: 6vh;
  padding-bottom: 10rem;
}
.main_parallax_section_title {
  font-size: 5rem;
  color: #EAEAEA;
}
.main_parallax_section_year {
  align-self: flex-end;
  color: #D9D9D9;
  font-size: 5rem;
}
.main_parallax_section_text {
  font-size: 2rem;
  max-width: 30rem;
  text-align: center;
  align-self: flex-end;
  color: #D9D9D9;
}
.main_parallax_section_media {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
}
.main_parallax_section--divider {
  height: 15vh;
  background: #AF3800;
}
.main_parallax_section--one {
  background: #AF3800;
  z-index: 2;
}
.main_parallax_section--opera {
  background: #AF3800;
  z-index: 3;
}
.main_parallax_section--div1 {
  z-index: 4;
}
.main_parallax_section--baroque {
  background: #AF3800;
  z-index: 5;
}
.main_parallax_section--div2 {
  z-index: 6;
}
.main_parallax_section--gospel {
  background: #AF3800;
  z-index: 7;
}
.main_parallax_section--div3 {
  z-index: 8;
}
.main_parallax_section--classical {
  background: #AF3800;
  z-index: 9;
}
.main_parallax_section--div4 {
  z-index: 10;
}
.main_parallax_section--romantic {
  z-index: 11;
  background: #AF3800;
}/*# sourceMappingURL=style.css.map */